<%- include('partials/header') -%>

<div class="container p-3 mt-5 mb-5">
    <h1 class="display-2">About Jp's Customz</h1>
    <p>
        More to come.....
    </p>
</div>

<%- include('partials/footer') -%>
<%- include('partials/scripts') -%>
