<%- include('partials/header') -%>

<div class="container p-3 mt-5 mb-5">
    <h1 class="display-2">Create A Post</h1>

    <div class="container mb-5">
        <form action="/posts/store" method="post">
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="title" name="title" class="form-control" />
              <label class="form-label" for="title">Name</label>
            </div>
          
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email" name="email" class="form-control" />
              <label class="form-label" for="email">Email address</label>
            </div>
          
            <!-- Message input -->
            <div class="form-outline mb-4">
              <textarea class="form-control" id="message" name="message" rows="4"></textarea>
              <label class="form-label" for="message">Message</label>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
          </form>
    </div>

</div>

<%- include('partials/footer') -%>
<%- include('partials/scripts') -%>
